* {
    margin: 0;
    padding: 0;
}

.login {
    width: 40%;
    margin: auto;
}

.loginIcon {
    width: 20px;
    height: 20px;
}

.form {
    height: 32px;
}

.footer a {
    text-decoration: none;
}

.address {
    float: end;
}